*{
  margin: 0;
  padding: 0;
  background-color: rgb(223, 243, 236);
}

.fileSelect{
  width:auto;
  height: auto;
  text-align: center;
  padding: 1%;
}

.uploadBtn{
  width: 60px;
  height: auto;
  text-align: center;
  padding: 1%;
  border-radius:6px;
  cursor: pointer;
}